<h1>FridgeApp#index</h1>
<p>Find me in app/views/fridge_app/index.html.erb</p>

<ul class='index_of_fridges'>
<% @fridges.each_with_index do |fridge, index| %>
 <li> <%= fridge.location %> </li>
<% end %>
</ul>
