<h1>FridgeApp#index</h1>
<p>Find me in app/views/fridge_app/index.html.erb</p>

<ul class='index_of_fridges'>
<% @fridges.each_with_index do |fridge, index| %>
  <li> <%= link_to "See the fridge at #{fridge.location}", "/fridge_app/#{fridge.id}" %></li>
<% end %>
</ul>

<%= link_to "Add a new fridge", fridge_app_new_path %>
